* {
   margin: 16px;
   padding: 11px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-sizing: border-box;
}

body {
   background-color: rgb(121, 9, 70);
   background: radial-gradient(circle, rgba(121, 9, 70, 1) 35%, rgba(255, 0, 78, 1) 100%);
   ;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   width: 60%;
   /* height: 70%; */
   /* max-height: 95%; */
   background-color: white;
   border-radius: .5rem;
   border: none;
  

}

.card h1 {
   border-bottom: solid black;
   padding-top: 10px;
   padding-bottom: 15px;
   padding-left: 4px;

}

.question {

   padding-left: 4px;
   padding-right: 4px;

}

.question h2 {
   padding-top: 10px;
   padding-bottom: 25px;
   font-size: 28px;
}

#options {

   display: flex;
   flex-direction: column;
   gap: 10px;

}

.btn-option {
   height: 38px;
   font-size: larger;
   font-weight: 500;
   border-style: none;
   /* background-color: rgb(218, 214, 214); */
   /* padding-bottom: 5px; */
   margin-bottom: 10px;
   background-color: rgb(189, 186, 186);
   border-radius: 0.5rem;
   cursor: pointer;
   

}

/* .btn-option:not(disabled){
   height: 38px;
   font-size: larger;
   font-weight: 500;
   border-style: none;
   /* background-color: rgb(218, 214, 214); */
/* padding-bottom: 5px;
   margin-bottom: 10px;
   background-color: rgb(189, 186, 186);
   border-radius: 0.5rem;
   cursor: pointer;
} */

.btn-option:disabled {
   cursor: no-drop;
}

/* .options #btn-option:hover {
   background-color: rgb(58, 207, 226);
} */
.btn-option:active {
   background-color: #00ffc0;
}

.next {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;



}

/* .btn{
   height: 55px;
   width: 125px;
   font-size: 25px;
   font-weight: 600; 
   border: none;
   background-color: rgb(189, 186, 186);
   border-radius: 0.5rem;
   cursor: pointer;
  
}  */
#btn {
   height: 55px;
   width: 125px;
   font-size: 25px;
   font-weight: 600;
   border: none;
   background-color: rgb(10, 10, 10);
   border-radius: 0.5rem;
   cursor: pointer;
   color: white;

}

/* .next button:hover {
   background-color: rgb(194, 34, 34);
} */

#btn:active {
   background-color: rgba(255, 0, 78, 1);
}

#btn {
   display: none;
}

.correct {
   background-color: #45ff00;
}

.incorrect {
   background-color: #ff0012;
}